<div class="container">
    <div class="row my-2">
        <div class="col col-md-2">
            <span id="comment-count" class="text-muted">number of comments</span>
        </div>
        <div class="col col-md-3 text-muted" id="first">
            <!-- <span>something else maybe</span> -->
        </div>
        <div class="col col-md-7 text-right">
            <span class="right">...</span>
        </div>
    </div>
</div>
<div class="container personal-comment">
    <div class="row">
        <div class="col-md-10" id="comments">

        </div>
    </div>
</div>

<script src="/js/bundle.js"></script>

<script>
    $(document).ready((e) => {

        getReplies();


        $("#post-reply").on('click', (e) => {
            //clearReplies();
            saveReply()
            setTimeout(() => {
                getLastReply()
            }, 300);
        })

    })

    function clearReplies() {
        $('#comments').empty()
    }

    function saveReply() {
        var item = {
            body: $('textarea').val()
        }
        console.log('button clciked')

        $.ajax({
            method: 'put',
            url: window.location.pathname,
            data: item,
            success: function(data, text) {
                if (data.count == 0) {
                    //$('#first').append('Be the first to reply!')
                }

                $("#comment-count").text(data.count + " replies")
            },
            error: function(request, status, error) {
                //error handling here.
                console.log(error);
                console.log("error");
            }
        });
    }

    var dateformat = require('dateformat');
    var ta = require('time-ago');

    function getLastReply() {
        getReplies(true)
    }


    function getReplies(getLastReply) {
        $.ajax({
            method: 'put',
            url: window.location.pathname,
            success: function(data, text) {
                if (data.count == 0) {
                    //$('#first').append('Be the first to reply!')
                }

                $("#comment-count").text(data.count + " replies")
                var index = 0;

                console.log(data.str)
                if (getLastReply) index = Array.from(data.replies.res).length - 1;
                for (index; index < Array.from(data.replies.res).length; index++) {
                    const element = Array.from(data.replies.res)[index];
                    var time = new Date(data.replies.res[index].time);
                    let time2 = dateformat(time, "ddd mmm d yyyy  |  hh:mm tt  •  ")
                    item = data.str;
                    item = item.replace(/posteriii/g, data.replies.names[index]);
                    item = item.replace(/bodyiii/g, data.replies.res[index].body)
                    item = item.replace(/timeiii/g, time2 + ta.ago(time))
                    $('#comments').append(item)

                }
            },
            error: function(request, status, error) {
                //error handling here.
                console.log(error);
                console.log("error");
            }
        });
    }
</script>