 <form action="/login" method="post">
       <div class="row">
         <div class="col-md-8 form-inline">
           <input type="text" class="form-control mx-2" name="username" id="username" aria-describedby="helpId" placeholder="username">
           <input type="password" class="form-control mx-2" name="password" id="password" aria-describedby="helpId" placeholder="password">
           <button type="submit" class="btn btn-primary mx-2">Submit</button>
         </div>
       </div>
     </form>