<div class="container my-3">
    <div class="row">
        <div class="col-md-5 offset-md-7 text-right">
            <div class="logo  mx-4"><b>WRG Autoparts</b></div>
        </div>
    </div>
    <div class="row my-5">
        <div class="container gray highlightTextIn text-right">
            <div class="col-md-5 offset-md-7 text-right">
                <a href="/" class="nav-link1" alt="Home">Home</a>
                <a href="/" class="nav-link1" alt="Forum">Forum</a>
                <a href="" class="nav-link1" alt="Login">Login</a>
                <a href="" class="nav-link1" alt="Sign up">Sign up</a>
            </div>

        </div>
    </div>
</div>