<div class="row comment">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                bodyiii
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-muted">
                <div><small>Posted by <a href="posteriii">posteriii</a></small></div>
                <div><small>timeiii</small></div>
            </div>
        </div>
    </div>
</div>