<div class="container">
    <div class="row">
        <div class="col-md-12 form-inline justify-content-center">
            <p>search for a post</p>
        </div>
    </div>

    <form action="">

        <div class="row">
            <div class="col-md-12 form-inline justify-content-center">
                <i class="fa fa-search" aria-hidden="true"></i>
                <input id="searcher" type="text" placeholder="search">
            </div>
        </div>

        <div class="row"></div>
        <div class="row"></div>
        <div class="row"></div>

        <div class="row">
            <div class="col-md-12 form-inline justify-content-center">
                <button type="submit" class="btn btn-secondary ">Submit</button>
            </div>
        </div>
    </form>

</div>