  <select name="BodyParts" id="">
    <option value="0">Select Category</option>
    <option value="Bumper">Bumper</option>
    <option value="Fender">Fender</option>
    <option value="Grills">Grills</option>
    <option value="Bonnet">Bonnet</option>
    <option value="Trunks">Trunks</option>
    <option value="Body parts">Interior Accessories</option>
    <option value="Body parts">Tools & Services</option>
    <option value="Body parts">Misc</option>
  </select>