<p class="lead">select your category to view</p>

<form action="" method="get">
  <select name="Category" id="">
    <option value="Body parts">Select Category</option>
    <option value="Body parts">View All Category</option>
    <option value="Body parts">Body Parts</option>
    <option value="Body parts">Breaks, Suspension & Steering</option>
    <option value="Body parts">Engine & Drivetrain</option>
    <option value="Body parts">Exteriors</option>
    <option value="Body parts">Headlight & Lighting</option>
    <option value="Body parts">Interior Accessories</option>
    <option value="Body parts">Tools & Services</option>
    <option value="Body parts">Misc</option>
  </select>
</form>


