<%- include('partials/navbar', {name: false}) %>

    <br>
    <div class="container">
        <div class="row justify-content-center">
            <img src="image/logo.png" alt="logo">
        </div>
        <div class="row justify-content-center">
            <h5>Sign up with WRG Autoparts</h3>
        </div>
    </div>
    <div class="container my-3 ">
        <%- include('partials/alerts') %>

            <div class="row">
                <div class="col-md-4 offset-4 justify-content-center login-cont">
                    <form method="post" action="signup">
                        <div class="form-group">
                            <div class="row my-2">
                                <label for="username" class="my-1 mx-1 text-muted">Username</label>
                                <input type="text" class="form-control" name="username" id="username" aria-describedby="helpId" placeholder="">
                                <small id="helpId" class="form-text text-muted"></small>
                            </div>

                            <div class="row my-2">
                                <label for="username" class="my-1 mx-1 text-muted">Email</label>
                                <input type="text" class="form-control" name="email" id="email" aria-describedby="helpId" placeholder="">
                                <small id="helpId" class="form-text text-muted"></small>
                            </div>

                            <div class="row my-2">
                                <label for="password" class="my-1 mx-1 text-muted">Password</label>
                                <input type="password" class="form-control" name="password" id="password" aria-describedby="helpId" placeholder="">
                            </div>

                            <div class="row my-2">
                                <label for="password" class="my-1 mx-1 text-muted">Confirm Password</label>
                                <input type="password" class="form-control" name="password2" id="password2" aria-describedby="helpId" placeholder="">
                            </div>

                            <br>
                            <div class="row justify-content-center">
                                <button id="sub1" type="" class="btn btn-secondary btn-block my-2">Submit</button>
                                <button hidden="true" id="sub" type="submit" class="btn btn-secondary btn-block my-2">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
    </div>

    <!-- <div class="container my-n2">
        <div class="row ">
            <div class="col-md-4 offset-4 text-center border-personal">
                <div class="text-muted mx-auto">New to WRG Autoparts? <a href="">Create an account</a></div>
            </div>
        </div>
    </div> -->

    <script>
        $('#sub').on('click', (e) => {
            console.log($('username'))
            e.preventDefault()
            e.stopPropagation()
            var item = {
                username: $('username').val(),
                email: $('email').val(),
                password: $('password').val(),
                confirm: $('password1').val()
            }
            $.ajax({
                type: "post",
                url: '/validate',
                data: item,
                success: function(data, text) {
                    //success code here.
                    $('#sub').click();

                },
                error: function(request, status, error) {
                    //error handling here.
                    console.log(error);
                    console.log("error");
                    $('.alert').show();
                }
            });
        })



        $('form').submit(function() {
            $.ajax({
                type: 'POST',
                url: 'submit.php',
                data: {
                    username: $(this).name.value,
                    password: $(this).password.value
                },
            });
            return false;
        });
    </script>