body {
    margin: 0;
    padding: 0;
    background: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

.container {
    min-height: 100vh;
}

ul {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

li {
    padding: 0;
    margin: 0;
}

nav {
    text-align: center;
    width: 100%;
    position: relative;
    height: auto;
    overflow: hidden;
    background: none;
}

nav ul {
    text-align: center;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    color: #333;
    display: inline-block;
    padding: 1em 3em;
    text-decoration: none;
    border-bottom: 2px solid #fff;
    transition-property: all .2s linear 0s;
    -moz-transition: all .2s linear 0s;
    -webkit-transition: all .2s linear 0s;
    -o-transition: all .2s linear 0s;
    font-size: 16px;
}

nav ul li a:hover {
    color: #34B484;
}

.row {
    border: 1px solid rgba(197, 67, 67, 0.089);
    padding: 10px
}

.col {
    border: 1px solid black;
    padding: 5px;
}

.half-jumbo {
    height: 50vh;
}