/* Other Classes for Page Styling */

body {
    background-color: rgb(240, 242, 245)
}

footer {
    width: 100%;
}

.head {
    /* background-color: aliceblue; */
    padding: 20px 20px 60px 20px;
}

.link-below {
    margin-top: -14px;
}

.card-section {
    /* background-color: aliceblue; */
    border-radius: 10px;
    padding: 10px 20px 0px 20px;
    /* filter: drop-shadow(0px 0px 5px #85ceff1e); */
}

.btn-view {
    border: 1px solid rgb(36, 124, 255, 0)
}

.row {
    padding: 3px 5px 10px 3px;
}

.cat-links a {
    color: rgba(110, 110, 110, .64);
}

.current a {
    color: black;
}

.cat-links {
    color: rgba(110, 110, 110, 0.644);
    border: 1px solid rgba(110, 110, 110, 0.644);
    padding: 6px 6px;
    border-radius: 30px;
    font-size: 14px;
    text-decoration: none;
    transition: 1s;
}

.cat-links:hover {
    border-color: green;
}

.current {
    background-color: rgba(130, 158, 179, 0.425);
    border: 1px solid rgba(110, 110, 110, 0.205);
    color: black;
}

.masthead {
    height: 80vh;
    min-height: 500px;
}