/* Other Classes for Page Styling */

footer {
    width: 100%;
}

.head {
    /* background-color: aliceblue; */
    padding: 20px 20px 60px 20px;
}

.link-below {
    margin-top: -14px;
}

.card-section {
    /* background-color: aliceblue; */
    border-radius: 10px;
    padding: 10px 20px 0px 20px;
    /* filter: drop-shadow(0px 0px 5px #85ceff1e); */
}

.btn-view {
    border: 1px solid rgb(36, 124, 255, 0)
}

.row {
    padding: 3px 5px 10px 3px;
}

.cat-links a {
    color: rgb(110, 110, 110);
    border: 1px solid rgb(104, 104, 104);
    padding: 4px 4px;
    border-radius: 3px;
    font-size: 14px;
    text-decoration: none;
    transition: 1s;
}

.cat-links a:hover {
    color: black;
    border-color: black;
}