/* Other Classes for Page Styling */

body {
    background: #007bff;
    background: linear-gradient(to right, #0062E6, #33AEFF);
}

footer {
    width: 100%;
}

.head {
    background-color: aliceblue;
    padding: 20px 20px 60px 20px;
}

.link-below {
    margin-top: -14px;
}

.card-section {
    background-color: aliceblue;
    border-radius: 10px;
    padding: 10px 20px 0px 20px;
}