<%- include('../partials/navbar') %> 


<div class="container">
<div class="row">
    <h6><a href="">back</a></h1>
</div>
<div class="row">
        <h1 class="display-3"><%- title  %> </h6>

</div>
</div>