<%- include('../partials/navbar') %>

    <div class="container-fluid my-3">

        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="row">
                    <h1 class="display-3">
                        <%- title  %>
                    </h1>
                </div>
                <% console.log(highlighted.second); %>

                    <ul class="list-inline">
                        <% for( let index = 0; index < links.length; index++ ) { %>
                            <% if(index == highlighted.second) {%>

                                <li class="list-inline-item current cat-links my-2">
                                    <a href="">
                                        <%- links[index] %>
                                    </a>
                                </li>
                                <% }else {%>
                                    <li class="list-inline-item cat-links my-2">
                                        <a href="">
                                            <%- links[index] %>
                                        </a>
                                    </li>
                                    <%}%>
                                        <% } %>
                    </ul>
            </div>
        </div>

        <div class="container my-4">
            <div class="row">
                <a name="" id="" class="btn btn-secondary btn-block" href="create-post" role="button"><i class="fa fa-plus-circle" aria-hidden="true"></i> Create Post</a>
            </div>
        </div>

        <div class="container my-4 h-100">


            <% if (true) { %>
                <header class="masthead">
                    <div class="container h-100">
                        <div class="row h-100 align-items-center">
                            <div class="col-12 text-center">
                                <h1 class="font-weight-light">Oh my, this is embrassing</h1>
                                <p class="lead">No posts as of yet</p>
                            </div>
                        </div>
                    </div>
                </header>

                <% } else{%>


                    <%}%>
        </div>