   <div class="col-md-7 card-section">
       <div class="row">
           <div class="col-md-12">
               <div class="row">
                   <h1>Body Parts</h1>
               </div>
                <div class="row link-below">
                   <p><a href="">view all posts</a></p>
               </div>
           </div>
       </div>
   </div>
