   <div class="col-md-7 card-section">
       <div class="row">
           <div class="col-md-12">
               <div class="row">
                   <h1>Breaks, Suspensions & Steering</h1>
               </div>
                <div class="row link-below">
                   <p><a href="">view all posts</a></p>
               </div>
           </div>
       </div>

        <div class="row">
           <div class="col-md-9">
                   <h4>Disc pads and Callipers</h3>
           </div>
            <div class="col-md-3">
                   <button type="button" class="btn btn-md btn-primary">view posts -></button>
           </div>
       </div>

        <div class="row">
           <div class="col-md-9">
                   <h4>Control Arm, Thrust Arm & Components</h3>
           </div>
            <div class="col-md-3">
                   <button type="button" class="btn btn-md btn-primary">view posts -></button>
           </div>
       </div>

        <div class="row">
           <div class="col-md-9">
                   <h4>Shocks, Struts & Components</h3>
           </div>
            <div class="col-md-3">
                   <button type="button" class="btn btn-md btn-primary">view posts -></button>
           </div>
       </div>

        <div class="row">
           <div class="col-md-9">
                   <h4>Wheel Hubs, Bearings & Components</h3>
           </div>
            <div class="col-md-3">
                   <button type="button" class="btn btn-md btn-primary">view posts -></button>
           </div>
       </div>
   <br>


   </div>
   <br><br>
